*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Montserrat", sans-serif;
	overflow: hidden;
}

.play-animation {
	display: none;
	position: absolute;
	left: 20px;
	bottom: 20px;
	border: none;
	background-color: #23a0df;
	color: white;
	padding: 10px 40px;
	border-radius: 60px;
	transition: background-color 0.3s;
	z-index: 1000;
	cursor: pointer;

	&:hover {
		background-color: #1b7dae;
	}
}

// video {
// 	// top: 50% !important;
// 	// left: 50% !important;
// 	// transform: translate(-50%, -50%);
// 	// width: 100vw !important;
// 	height: 100% !important;
// 	z-index: 10000;
// 	display: block;
// }

// canvas {
// 	width: 100% !important;
// 	height: 100% !important;
// }
